/*
!/.gitignore
!/agent/
!/extensions/
!/skills/
!/themes/

agent/auth.json
agent/sessions/
agent/trust.json
agent/npm/
agent/*.log
node_modules/
agent/models/
agent/speech-models/
*.gguf
agent/extensions/interactive-subagents/
agent/extensions/observational-memory/
